.advert {
  margin-top: 3em;

  &-wrapper {
    background: url(../assets/background.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 3rem 0;
  }

  &-heading {
    padding: 1rem 0;
    font-size: 2.5rem;
    padding-left: 2rem;
  }

  &-text {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.5;
    padding-left: 2rem;
  }

  &-companies {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;

    img:nth-child(4) {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .advert {
    margin-left: 2rem;
    margin-right: 2rem;

    &-wrapper {
      border-radius: 20px;
      padding: 5rem 0;
    }

    .advert-companies {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;

      img {
        max-width: 160px;
      }

      img:nth-child(4) {
        display: block;
      }
    }
  }
}
