.hero {
  &:first-child {
    padding: 2rem;
  }

  &-text {
    min-width: 16rem;
  }

  &-heading {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 1rem 0;
  }
  &-par {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.5;
  }

  &-inner {
    display: flex;
    padding: 2rem 0 0 2rem;
    align-items: flex-start;
    overflow: hidden;
  }
  &-image {
    width: 213px;
  }
  img {
    width: 430px;
    height: auto;
    object-fit: cover;
    top: -65px;
    left: 20px;
  }
}

@media (min-width: 1024px) {
  .hero-inner {
    gap: 2rem;
  }
}
