.hero {
  &-heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
  }
  &-text {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.5;
  }

  &-inner {
    display: flex;
    padding-left: 1rem;
    align-items: flex-start;
  }
  &-image {
    width: 50%;
    position: relative;
  }
  img {
    width: 200%;
    overflow: hidden;
    position: absolute;
    top: -30px;
  }
}
