.launching-soon {
  text-transform: uppercase;
  color: $color-pink;
  padding-top: 2rem;
}

.link-underline {
  color: $color-grey;
  font-weight: 300;
  &:visited {
    color: $color-grey;
    font-weight: 300;
  }
  &:hover {
    color: $color-pink;
    font-weight: 500;
    transition: all 0.2s;
  }
}

.orange-text {
  color: #fe8844;
  text-transform: uppercase;
}

.gray-text {
  color: #777777;

  &-upper {
    text-transform: uppercase;
    color: #777777;
  }
}
.black-text {
  color: #111111;
}

.display-none {
  display: none;
}

.overflow-hidden {
  overflow-x: hidden;
}

.button {
  margin-top: 2rem;
  padding: 3px;
  position: relative;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 3px solid transparent;
  background: url(../assets/background.svg) border-box;
  background-position: center center;

  &:hover {
    background-position: center right;
    transition: all 0.2s;
  }

  span {
    position: absolute;
    color: $color-black;
    z-index: 100;
    text-align: center;
    background-color: #fff;
    width: 98px;
    padding: 4px 3px 3px 3px;
    height: 18px;
    border-radius: 20px;
    top: 0px;
    left: 0px;
    vertical-align: bottom;
    cursor: pointer;

    &:hover {
      color: $color-grey;
    }
  }
}
