.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}
.header {
  &-nav {
    &-link {
      text-decoration: none;
      color: $color-grey;
    }
  }
}
