.launching-soon {
  text-transform: uppercase;
  color: #ff3998;
  padding-top: 2rem;
}

.link-underline {
  color: #555555;
  font-weight: 300;
}
.link-underline:visited {
  color: #555555;
  font-weight: 300;
}
.link-underline:hover {
  color: #ff3998;
  font-weight: 500;
  transition: all 0.2s;
}

.orange-text {
  color: #fe8844;
  text-transform: uppercase;
}

.gray-text {
  color: #777777;
}
.gray-text-upper {
  text-transform: uppercase;
  color: #777777;
}

.black-text {
  color: #111111;
}

.display-none {
  display: none;
}

.overflow-hidden {
  overflow-x: hidden;
}

.button {
  margin-top: 2rem;
  padding: 3px;
  position: relative;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 3px solid transparent;
  background: url(../assets/background.svg) border-box;
  background-position: center center;
}
.button:hover {
  background-position: center right;
  transition: all 0.2s;
}
.button span {
  position: absolute;
  color: #111111;
  z-index: 100;
  text-align: center;
  background-color: #fff;
  width: 98px;
  padding: 4px 3px 3px 3px;
  height: 18px;
  border-radius: 20px;
  top: 0px;
  left: 0px;
  vertical-align: bottom;
  cursor: pointer;
}
.button span:hover {
  color: #555555;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.header-nav-item {
  padding: 0.4rem;
}
.header-nav-ul {
  display: none;
}
.header-nav-link {
  text-decoration: none;
  color: #555555;
}
.header-nav-link:hover {
  color: #999999;
  transition: all 0.2s;
}

.active-link {
  color: #ff3998;
}

/* ICON */
.mobile-nav {
  margin-top: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.mobile-nav:hover .navigation-icon::before {
  top: -0.8rem;
}
.mobile-nav:hover .navigation-icon::after {
  top: 0.8rem;
}
.mobile-nav:active .navigation-icon {
  background-color: transparent;
}
.mobile-nav:active .navigation-icon::before {
  transform: rotate(135deg);
  top: 0;
}
.mobile-nav:active .navigation-icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.navigation-icon {
  position: relative;
}
.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 2rem;
  height: 3px;
  background-color: #999999;
  display: inline-block;
  border-radius: 2px;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -0.5rem;
}
.navigation-icon::after {
  top: 0.5rem;
}

@media (min-width: 1024px) {
  .header-nav-ul {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
}
.hero:first-child {
  padding: 2rem;
}
.hero-text {
  width: 16rem;
}
.hero-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1rem 0;
}
.hero-par {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;
}
.hero-inner {
  display: flex;
  padding: 2rem 0 0 2rem;
  align-items: flex-start;
  overflow: hidden;
}
.hero-image {
  width: 213px;
}
.hero img {
  width: 430px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  top: -65px;
  left: 20px;
}

.advert {
  margin-top: 3em;
}
.advert-wrapper {
  background: url(../assets/background.svg);
  background-position: center center;
  width: 100%;
  padding: 3rem 0;
}
.advert-heading {
  padding: 1rem 0;
  font-size: 2.5rem;
  padding-left: 2rem;
}
.advert-text {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;
  padding-left: 2rem;
}
.advert-companies {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.auction {
  margin: 3em 0;
  padding-left: 2rem;
}
.auction-heading {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1rem 0;
}
.auction-text {
  font-weight: 300;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;
}
.auction-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.auction-card-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}
.auction-card-description p {
  padding: 0.5rem 0.3rem;
}
.auction-card-description p:nth-child(even) {
  text-align: right;
  vertical-align: middle;
}
.auction-card-description p:nth-child(4) {
  position: relative;
}
.auction-card-description p:nth-child(4) img {
  position: absolute;
  left: 50px;
  top: -3px;
}
.auction-card-inner {
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 1rem 0;
}

.upsell {
  margin: 2rem 0;
  padding-top: 2rem;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
}
.upsell-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.upsell-col-1 {
  padding-left: 2rem;
  width: 16rem;
}
.upsell-col-2 {
  max-width: 240px;
  overflow: hidden;
}

.footer-wrapper {
  padding: 2rem;
  color: #555555;
}
.footer-col-1 p {
  margin: 1rem 0;
  color: #555555;
}
.footer-social {
  margin-bottom: 1rem;
}
.footer-social-link, .footer-social-link:visited {
  color: #999999;
  padding-right: 0.5rem;
}
.footer-social-link:hover {
  color: #ff3998;
  transition: all 0.2s;
}
.footer-nav-heading {
  padding: 0.75rem 0;
}
.footer-nav-item {
  padding-bottom: 0.5rem;
  font-weight: 200;
}
.footer-nav-link, .footer-nav-link:visited {
  color: #555555;
  text-decoration: none;
}
.footer-nav-link:hover {
  color: #ff3998;
  transition: all 0.2s;
}
.footer-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
  color: #555555;
}

body {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */